p {
	background-color: green;
	max-width: 100%;
}

h1 {
	color: red;
}

div {
	border: 2px;
	margin: 5px;
}

#third > p {
	background-color: Blue;
	
}

h1 {
	
}

#second * {
	visibility: visible;
}
#second img {
 	visibility: visible;
 	max-width:  100%;
 }

#first p {
	font-size:  larger;
}